@charset "utf-8";
body {
	width: 100%;
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	margin-left: 0%;
}
.hh {
	background-color: #E7E;
	width: 100%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	height: 150px;
	display: block;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: auto;
	text-align: center;
	padding-top: 4%;
	position: static;
}
.pp {
	width: 100%;
	background-color: #B5DD39;
	display: block;
	bottom: 0px;
	position: fixed;
	height: 10%;
}
.wraper {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10%;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: 25%;
	display: block;
	color: #22C420;
	font-size: large;
}
.con {
	display: block;
	width: 80%;
	height: 50%;
	max-width: 80%;
	max-height: 50%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 100px;
	padding-left: 5%;
	padding-right: auto;
}
.con .wr {
	margin-top: 4%;
	margin-bottom: 5%;
	margin-left: 2%;
	margin-right: auto;
	display: block;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}
